
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family:sans-serif;
    font-size: 20px;
  }

  .logo {
    width: 25%;
  }

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color:  #1e2c4f;
    padding: 15px;
    
  }
.logo img {width: 140px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    color: white;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color:  white;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 60%;
    right: 50px;
    transform: translateY(-50%);
    color: white;
}
.close-menu {
    top: 20px;
    right: 20px;
    color: white;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 999;
        background-color:  rgb(52, 45, 80);;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}




.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .mySlides img{
    width: 100%;
    height: 500px;
  }
 .h1{
  font-size: 36px;
  color: white;
  justify-content: center;
  text-align: center;
  position: relative;
  -webkit-text-stroke: 0.3vw white;
  text-transform: uppercase;
   bottom: 280px;
   letter-spacing: 8px;
 }

 @media screen and (max-width: 300px){
.h1{
  text-align: center;
       flex-direction: column;
       background-color:rgb(200, 214, 213);

       width:44% ;
      
       font: bold 16px sans-serif;
       padding: 40px 40px 50px 40px;
       margin-top: 40px;
       margin-right: 80px;
}
 }
  
 
  
  .dot {
    height: 20px;
    width: 18px;
    margin: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    bottom:280px ;
    transition: background-color 0.6s ease;
  }
  .dot1{

    margin-bottom: 1px;
    margin-top: -3rem;
  }
  
  .active {
    background-color: #717171;
  }
  
 
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }







  .about-sec {
    display: flex;
    padding: 4rem 0;
    width: 100%;
    justify-content: center;
    background-color:white;  
  }
  
  #more {display: none;}

  #myBtn{
    font-size: 15px;
    background-color: #1e2c4f;
    color: white;
    padding: 10px;
    font-weight: 100px;
    border-radius: 5px;
    border: solid rgb(88, 83, 83);
  
  }

  .about-img {
    width: 550px;
    height: 550px;
    margin: 0 3rem;
  }
  
  .about-img img {
    height: 100%;
    width: 100%;
  }
  
  .about-intro {
    color: black;
    width: 450px;
    height: 450px;
  
    padding-left: 2rem;
    margin: 0 3rem;
  }
  
  .about-intro p {
    margin-top: 3rem;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    right:50px;
    font-family: Helvetica;

    
  }
  
  h3{
    font-size: 50px;
  }
  
  @media only screen and (max-width: 768px) {
    .about-sec {
      flex-direction: column;
      align-items: center;
    }
  
    .about-img {
      width: 90%;
    }
  
    .about-intro {
      width: 100%;
      height: 100%;
      border-top: 3px solid #00b894;
      border-left: none;
      padding: 1rem;
      margin-top: 2rem;
    }
  
    .about-intro h3,
    p {
      width: 80%;
    }
  
    .about-intro p {
      font-size: 12px;
    }
  
  
  } 



  


  .b-footer {
    
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    }
    

   footer{
    background-color: #1e2c4f;
    position: relative;
    width: 100%;
    min-height:5%;
    padding: 1rem 1rem;
}
.container {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#f2f2f2f2;
   font-family: poppins;
   padding:0 2rem;
}
.col .logo{
   width: 220px;
   margin-bottom:65px;
   margin-top: 20px;
}
.col h3{
   color:white;
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}

 .h3 {
    font-size: 44px;
}

.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: white;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color:white;
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#f2f2f2;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: #ff014fff;
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:#ff014fff;
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
   letter-spacing: 5px;
   line-height: 37px;
   top: 50px;
}
.col .contact-details i{
   margin-right:20px;
   line-height: 2;
}

hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright{
  text-align: center;
  color: white;
}


@media(max-width:900px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 25px;
 }
}
@media(max-width:768px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 23px;
 }
 
}


